body {
  line-height: 1.5; 
  text-align: center;
}

.bar {
  width: 35%;
  height: 1px;
  background-color:#6BCC08;
  margin: auto;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 6px;
}

.main{
	margin-top: -4px;
  padding:17px;
  padding-left: 110px;
  padding-right: 110px;
  font-size: 1em;
  margin-bottom: 100px;
}

#btnSignupVirtual {
  background-color: #9ACD32;
}

h3 {
  padding-top: 40px;
}