
body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header span#title {
	font-size: 1.4em;
	color: white;
}
header {
	padding: 20px;
	background-color: #6BCC08;
}

main {
	padding: 20px;
}

section {
  margin: 30px;
}

.rating {
  display: flex;
  width: 100%;
  height: auto;
  padding:30px;
margin-bottom: 30px;
  text-align: center;
}

.stars {
  text-align: center;
}

h3 {
  font-style: italic;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: solid 2px black;
}

#star {
  height: 50px;
  width:auto;
}




.background{
	background:  url(http://www.city-data.com/forum/attachments/city-vs-city/105240d1356338901-greater-downtown-toronto-vs-greater-downtown-toronto-skyline-night-view.jpg);
	background-size: cover;
	background-position: 50%, 50%;
	background-attachment: fixed;
	height: 350px;
	width: 100%;
	color: white;
    text-align: center;
    padding-bottom: 30px;
    background: -webkit-linear-gradient(to right
  rgba(255, 255, 255, 0.7) , rgba(34, 153, 84,0.5)
);
}



img {
  margin-top:50px;
  width: 250px;
  height:250px;
  border-radius: 10px;
}


.button {
	margin-top: 20px;
	display: inline-block;
	padding: 7px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	color: #666666;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
  background-color: #6BCC08;
  color: white;
  margin: 30px;
}
.button:hover {
	background-color: #CCCCCC;
}

.button.main:hover {
	background-color: #A8D471;
}


footer {
  padding: 20px;
  margin-bottom: 0px;
	background-color: #6BCC08;
}
